In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.stattools import kpss
from statsmodels.tsa.arima.model import ARIMA
import statsmodels.api as sm
import pmdarima as pm

In [2]:
df = pd.read_csv("../DataSets/bitcoin_technical_5Y.csv")
df

,date,open,high,low,close,volume,RSI,RS,MACD,MACD_signal,MACD_histogram,BB_Upper,BB_Mid,BB_Low
0,2018-04-25,9701.030273,9745.320313,8799.839844,8845.740234,11083100160,0.000000,0.000000,-19.109995,-10.616664,-8.493331,10476.190330,9271.620117,8067.049904
1,2018-04-26,8867.320313,9281.509766,8727.089844,9281.509766,8970559488,38.039560,0.613933,-10.836739,-10.706859,-0.129881,10126.752981,9274.916667,8423.080353
2,2018-04-27,9290.629883,9375.469727,8987.049805,8987.049805,7566289920,29.072209,0.409885,-17.439684,-12.987626,-4.452058,9955.689880,9202.949951,8450.210022
3,2018-04-28,8939.269531,9412.089844,8931.990234,9348.480469,7805479936,47.352603,0.899429,-6.278319,-10.991759,4.713440,9896.816429,9232.056055,8567.295680
4,2018-04-29,9346.410156,9531.490234,9193.709961,9419.080078,8853000192,50.351971,1.014179,3.568068,-7.045236,10.613304,9877.102724,9263.226725,8649.350727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,2023-04-20,28823.683594,29076.400391,28037.257813,28245.988281,21340360360,32.300373,0.477113,688.721458,927.692397,-238.970939,31173.681929,29072.722949,26971.763970
1822,2023-04-21,28249.230469,28349.968750,27177.365234,27276.910156,20759504330,24.716457,0.328312,472.983978,836.750713,-363.766735,31249.231841,29016.016699,26782.801557
1823,2023-04-22,27265.894531,27872.142578,27169.570313,27817.500000,13125734602,34.941810,0.537085,341.692733,737.739117,-396.046384,31265.780752,28996.926270,26728.071787
1824,2023-04-23,27816.144531,27820.244141,27400.314453,27591.384766,12785446832,32.711708,0.486143,216.897604,633.570814,-416.673210,31279.719450,28986.984473,26694.249496
1825,2023-04-24,27576.402344,27956.941406,27396.437500,27430.902344,14221151232,31.025258,0.449806,103.849859,527.626623,-423.776764,31320.674262,28950.125098,26579.575934

In [5]:
df = df[df.columns[0:5]]
del df['open']
del df['high']
del df['low']
df

            date         close
0     2018-04-25   8845.740234
1     2018-04-26   9281.509766
2     2018-04-27   8987.049805
3     2018-04-28   9348.480469
4     2018-04-29   9419.080078
...          ...           ...
1821  2023-04-20  28245.988281
1822  2023-04-21  27276.910156
1823  2023-04-22  27817.500000
1824  2023-04-23  27591.384766
1825  2023-04-24  27430.902344

[1826 rows x 2 columns]

### Test for stationary

In [8]:
fig = plt.plot(df['date'], df['close'])
fig.show()

NameError: name 'plt' is not defined